<!DOCTYPE html>
<html lang="en">
    <!-- header file contains the head part of the project -->
    <%- include('Layout/header.ejs'); %>
    <body>
        <!-- navbar of the project -->
        <%- include('Layout/navbar.ejs'); %>
      

        <!-- information container -->
        <div class="container mt-5  d-flex justify-content-center">
            <div class=" col-6">
                <h2>You can book G2/G drive test from this Kiosk</h2>
                <blockquote class="blockquote mb-0">
                    <p>You can book G2/G drive test from this Kiosk</p>
                    <footer class="blockquote-footer">Posted By 
                        <cite title="Source Title">DriveTest Center</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <!-- end of information container -->

        <!-- footer of the project -->
        <%- include('Layout/footer.ejs'); %>
        <!-- script of the project -->
        <%- include('Layout/script.ejs'); %>
    </body>
</html>