<!DOCTYPE html>
<html lang="en">
    <%- include('Layout/header.ejs'); %>

        <body>
            
            <%- include('Layout/navbar.ejs'); %>
                <h1 class="d-flex justify-content-center ">Sign Up</h1>

                <!-- sign up form -->
                <form method="POST" action="/user/signUpUser" class="container d-flex justify-content-center">
                    <div class="col-6">
                        <div>
                            <label> Already a user? </label> <a href="/Login" class="link-dark">Login</a>
                        </div>
                        <!-- email field -->
                        <div class="form-group">
                            <label for="username">User Name :</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter User name">
                        </div>

                        <!-- password field -->
                        <div class="form-group">
                            <label for="password">Password :</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label for="reenterpassword">Re-enter Password :</label>
                            <input type="password" class="form-control" id="reenterpassword" name="reenterpassword" placeholder="Re-Enter Password">
                        </div>

                        <div class="form-group">
                            <label for="UserType">UserType :</label>
                            <select class="form-select" aria-label="select UserType" id="UserType" name="UserType" >
                                <option selected value="Driver">Driver</option>
                                <option value="Examiner">Examiner</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-dark" value="Submit" />

                    </div>
                </form>
                <% if(statusCode == 1) { %>
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger" role="alert">
                        user name already exist !! try to add unique one
                    </div>
                </div>
                <% } %>
                <% if(statusCode == 11) { %>
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger" role="alert">
                        Invalid user name !! please try again
                    </div>
                </div>
                <% } %>
                <% if(statusCode == 2) { %>
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger" role="alert">
                        Password do not match !! please re-enter the password
                    </div>
                </div>
                <% } %>
                <% if(statusCode == 22) { %>
                    <div class="d-flex justify-content-center">
                        <div class="alert alert-danger" role="alert">
                            Invalid password !!
                        </div>
                    </div>
                <% } %>
                <!-- <% if(statusCode == 0) { %>
                
                <% } %> -->
                <!-- end of sign up form -->
                <%- include('Layout/footer.ejs'); %>
                <%- include('Layout/script.ejs'); %>

        </body>
</html>