<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div class="form-group row">
            <label for="firstName" class="col-sm-4 col-form-label">First Name</label>

            <div class="col-sm-8">
                <label for="firstName" id="firstName" class="form-control">
                    <%= g2data.firstName %>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-sm-8">
                <label for="lastName" id="lastName" class="form-control">
                    <%= g2data.lastName %>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="licenceNumber" class="col-sm-4 col-form-label">License Number</label>
            <div class="col-sm-8">
                <label for="licenceNumber" id="licenceNumber" class="form-control">
                    <%= g2data.licenceNumber %>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-sm-4 col-form-label">Age</label>
            <div class="col-sm-8">
                <label for="age" id="age" class="form-control">
                    <%= g2data.age %>
                </label>
            </div>
        </div>
    </body>

</html>