<!-- This is the footer of the project -->
<footer class="bg-dark text-center text-lg-start mt-5 footer fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3 text-white">
         © Copyright DriveTest 2023
    </div>
    <!-- Copyright -->
</footer>